<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Twitter sentiment #moodmeter</h1>
  <h3>project by jmb2372</h3>
 
  <p><em>N.B. using tweepy API which has streaming limits so searching several terms with a large square number (e.g. 900) might require some wait time as limit might have been reached.</em><p>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<h5>Note these are real tweets being streamed! So searching for 100 terms on an obscure topic might take some time. I suggest searching for 'trump' or 'clinton' -- lots of tweets on them</h5>
<form method="POST" action="/add">
<p>What tweet term would you like to see a visual sentiment for? <input type="text" name="name" placeholder="tweet term"></p>
<p>and how many tweets? (will create a visual grid of the same size, square numbers only)
<input type="number" name="tweet" placeholder="square # for grid"> <input type="submit" value="Add"></p>
<p>a non-square number will just round-down to the closest square (i.e. 22->16)</p>
</form>

</body>


</html>
